<mat-toolbar class="container-fluid">
  <span>Expense Management - Reactive Form Example</span>
</mat-toolbar>

<div class="container-fluid mt-1">
  <button mat-flat-button
    color="accent"
    (click)="onAddBill()">ADD BILL</button>
</div>

<table mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 w-100">
  <ng-container matColumnDef="id">
    <th mat-header-cell
      *matHeaderCellDef> ID </th>
    <td mat-cell
      *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="particular">
    <th mat-header-cell
      *matHeaderCellDef> Particulars </th>
    <td mat-cell
      *matCellDef="let element"> {{element.particular}} </td>
  </ng-container>

  <ng-container matColumnDef="shopName">
    <th mat-header-cell
      *matHeaderCellDef> shopName </th>
    <td mat-cell
      *matCellDef="let element"> {{element.shopDetails.shopName }} </td>
  </ng-container>

  <ng-container matColumnDef="purchaseDate">
    <th mat-header-cell
      *matHeaderCellDef> Purchase Date </th>
    <td mat-cell
      *matCellDef="let element"> {{element.shopDetails.purchaseDate }} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell
      *matHeaderCellDef> Quantity </th>
    <td mat-cell
      *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="unit">
    <th mat-header-cell
      *matHeaderCellDef> Unit </th>
    <td mat-cell
      *matCellDef="let element"> {{element.unit}} </td>
  </ng-container>

  <ng-container matColumnDef="ratePerUnit">
    <th mat-header-cell
      *matHeaderCellDef> Rate / Unit </th>
    <td mat-cell
      *matCellDef="let element"> {{element.ratePerUnit}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell
      *matHeaderCellDef> Amount </th>
    <td mat-cell
      *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell
      *matHeaderCellDef> Edit </th>
    <td mat-cell
      *matCellDef="let element">
      <button type="button"
        mat-icon-button
        (click)="onEdit(element)">
        <mat-icon>create</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row
    *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
    *matRowDef="let row; columns: displayedColumns;"></tr>
</table>